﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="ErrorPage.aspx.cs" Inherits="Questionnare.Web.Pages.ErrorPage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentForm" runat="server">
    <div class="alert alert-light" role="alert">
<H1>OOOPS! ERROR!!!</H1>
</div>
</asp:Content>
