﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="SummaryPage.aspx.cs" Inherits="Questionnare.Web.Pages.SummaryPage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentForm" runat="server">
   <asp:Table runat="server" ID="SummaryTable" class="table table-sm   bg-light ">
</asp:Table>
</asp:Content>
