﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Pages/WebSite.Master" AutoEventWireup="true" CodeBehind="ContactsPage.aspx.cs" Inherits="WebSite.Web.Pages.General.ContactsPage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="BodyContent" runat="server">
    <h1>Contacts</h1>
    <h5> Phone: 937 99 92</h5>
    <h5> Email: Email@mail.ru</h5>
</asp:Content>
